body{
  background-image:url("http://cdn.cnn.com/cnnnext/dam/assets/130523110058-best-beaches-9-champagne-beach-horizontal-large-gallery.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
img{
  border-radius:400%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}
h1,h2 ,h2{
  color:red;
}



/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: red;
}

.topnav{
  float:left;
}



p{
  font-size: 20px;
}
li{
  font-size:20px;
}
h4{
  font-size:40px;
  text-align:center;
  color:red
}
h1{
  text-align: center;
  font-size:50px;
}
